@import "./Shared/theme";
@import "./Shared/media";

@import "./Shared/Nav/styles";
@import "./Shared/Aside/styles";
@import "./Shared/Main/styles";

@font-face {
  font-family: Orkney;
  font-style: normal;
  font-weight: 200;
  src: url("/static/orkney-light.woff") format("woff");
}

@font-face {
  font-family: Orkney;
  font-style: normal;
  font-weight: normal;
  src: url("/static/orkney-regular.woff") format("woff");
}

@font-face {
  font-family: Orkney;
  font-style: normal;
  font-weight: bold;
  src: url("/static/orkney-bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  background: $grayE8;
  bottom: 0;
  display: grid;
  font-family: Orkney, sans-serif;
  font-style: normal;
  font-weight: normal;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;

  @include media(md) {
    grid-template-columns: 80px 1fr;
  }

  @include media(sm) {
    grid-template-columns: max-content 1fr;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
